/*
  The house style sheet for likeplusone.org.

  Copyright 2011 Ashkan Soltani and Brian Kennish

  This program is free software: you can redistribute it and/or modify it under
  the terms of the GNU General Public License as published by the Free Software
  Foundation, either version 3 of the License, or (at your option) any later
  version.

  This program is distributed in the hope that it will be useful, but WITHOUT
  ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

  You should have received a copy of the GNU General Public License along with
  this program. If not, see <http://www.gnu.org/licenses/>.

  Authors (one per line):

    Brian Kennish <byoogle@gmail.com>
*/
html { -webkit-text-size-adjust: none }

body {
  margin: 0;
  color: #333;
  font-family: 'Lucida Sans', Tahoma, Verdana, sans-serif
}

#header, .name { font-size: 20px }

#header {
  background: #f2f2f2;
  height: 200px
}

.content {
  margin: auto;
  padding-right: 50px;
  width: 840px
}

#header .content, #features, #actions, #footer { text-align: center }

.content img { border: none }

#header .name { font-size: 64px }

#like { color: #3b5998 }

#plusone {
  color: #176aee;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-style: italic
}

#features { margin: -40px 0 0 16px }

.feature,
.feature img:first-child,
.feature .description,
#installation,
#installation a,
#installation .description,
#attribution,
.author { display: inline-block }

.feature img:first-child {
  border: 1px solid #e2e2e2;
  width: 212px;
  height: 146px;
  cursor: pointer
}

.feature img { display: none }

.feature .description, .note, #attribution, #footer { font-size: small }

.feature .description { width: 266px }

#actions { margin-left: 32px }

#installation { width: 380px }

#installation a, #attribution { width: 366px }

#installation a {
  margin: 8px 0;
  border: 1px solid #c9c7ba;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  background: #f5f4ea;
  padding: 4px;
  height: 64px;
  color: graytext;
  text-decoration: none
}

#installation .activated {
  border: 1px solid #fc0;
  background: #fe8;
  color: black
}

#attribution { margin-left: 20px }

.author, #attribution img { vertical-align: middle }

.author { width: 96px }

:link, a:active, :visited { color: #003ea8 }

.author img, img { border: 1px solid #333 }

#footer { color: #888 }

#footer img {
  margin-top: 12px;
  vertical-align: bottom
}
